@charset "utf-8";



/* CSS Document */



body{

    font-family: 'Assistant', sans-serif;

    margin: 0;

    padding: 0;

}





.wrapper {

    max-width: 1366px;

    width: 100%;

    margin: 0 auto;

    background-image: url(../images/desktop.jpg);

    background-repeat: no-repeat;

    background-position: center top;

    background-size: cover;

    position: relative;

}



.article .wrapper{

    max-width: 1000px;

    width: 100%;

    margin: 0 auto;

    background-image: url(../images/katava.jpg);

    background-repeat: no-repeat;

    background-position: center top;

    background-size: cover;

    position: relative;

}

._goto{position: absolute;right: 1.5%;top: 21%;text-align: center;direction: rtl;line-height: 1;}

._goto a{
    display: block;
    width: 100%;
    height: 100%;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
}


.wrapper::after {

    display: block;

    content: "";

    padding-bottom: 56.2228%;

}



.article .wrapper::after {
    display: block;
    content: "";
    padding-bottom: 281%;
}

._callnow {
    position: absolute;
    right: 0;
    top: 13.3%;
    width: 12%;
    height: 4%;
}

._callnow a {
    width: 100%;
    height: 100%;
    display: block;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-size: 21px;
    font-weight: bold;
}











h1,h2,h3,p{

    margin: 0;

    padding: 0;

    direction: rtl;

}





h1{

    color: #95c9f4;

    font-size: 48px;

    display: block;

    font-weight: bold;

}



h2{

    color: #3f3c3e;

    font-size: 28px;

    display: block;

    font-weight: normal;

    line-height: 1;

}





h3{

    color: #95c9f4;

    font-size: 22px;

    display: block;

    font-weight: bold;

}



p{

    color: #3f3c3e;

    font-size: 22px;

    display: block;

    font-weight: normal;

    line-height: 1;

}



._text_1{

    position: absolute;

    right: 15%;

    top: 10%;

}





._text_2 {

    width: 30%;

    position: absolute;

    right: 15%;

    top: 18%;

}



._text_3 {

    position: absolute;

    right: 15%;

    top: 29%;

}



._text_4 {
    position: absolute;
    right: 21%;
    top: 35%;
    width: 25%;
}



._text_5 {

    position: absolute;

    right: 21.5%;

    top: 44%;

    width: 25%;

}



._text_6 {

    position: absolute;

    right: 21.5%;

    top: 53%;

    width: 25%;

}



._text_7 {

    position: absolute;

    right: 21.5%;

    top: 62%;

    width: 25%;

}



._text_8 {

    position: absolute;

    right: 21.5%;

    top: 71%;

    width: 25%;

}







._form{

    

position: absolute;

    

width: 100%;

    

top: 84%;

        

height: 16%;

}









._fullname{

    width: 15.5%;

    position: absolute;

    top: 45%;

    right: 17%;

    height: 25%;

}





._phone{

    width: 15.5%;

    position: absolute;

    top: 45%;

    right: 34.2%;

    height: 25%;

}



._email{

    width: 15.5%;

    position: absolute;

    top: 45%;

    right: 51.5%;

    height: 25%;

}

._send{

    width: 16.5%;

    position: absolute;

    top: 45%;

    right: 67.7%;

    height: 30%;

    cursor: pointer;

    background-image: url('../images/send.jpg');

    background-repeat: no-repeat;

    background-size: contain;

    background-position: center top;

}





._send button[type='submit'] {

    display: block;

    width: 100%;

    height: 100%;

    opacity: 0;

    cursor: pointer;

}





._info{

    position: absolute;

    top: 14%;

    right: 16.5%;

}



._info p{

    font-size: 25px;

    color: #ffffff;

    font-weight: normal;

}





input{

    direction: rtl;

    font-size: 20px;

    width: 100%;

    height: 100%;

    padding-right: 10px;

    font-family: 'Assistant', sans-serif;

}



input.error {border: 1px red solid;background: #fde8e8;}





h4.feedback {

    color: #fff;

    direction: rtl;

    text-align: center;

    font-size: 26px;

    line-height: 1.3;

    margin-top: 30px;

}





.desktop_hide{

    display: none;

}



.mobile_hide{

    display: block;

}




._text_11{position: absolute;right: 10%;top: 13.95%;}

._text_11 h1{
    font-size: 46px;
    color: #282828;
}

._text_12 {
    position: absolute;
    right: 5%;
    top: 17.5%;
    width: 59%;
}

._text_12 p,
._text_14 p,
._text_16 p,
._text_161 p,
._text_162 p
{
   margin: 20px auto;
   font-size: 20px;
}

._text_13{position: absolute;right: 6%;top: 34.6%;}

._text_13 h2{
    color: #fff;
    font-size: 24px;
}

._text_14{
    position: absolute;
    right: 5%;
    width: 59%;
    top: 36.2%;
}


._text_15{position: absolute;right: 6%;top: 52.6%;}

._text_15 h2{
    color: #fff;
    font-size: 24px;
}


._text_16{
    position: absolute;
    right: 5%;
    top: 54%;
    width: 59%;
}

._text_161{
    position: absolute;
    right: 7.5%;
    top: 57.6%;
    width: 59%;
    direction: rtl;
    /* border: 1px #000 solid; */
    height: 11.8%;
    width: 56%;
    /* line-height: 1; */
}


._text_161 p{
    display: inline;
    font-size: 19px;
}

._text_162{
    position: absolute;
    right: 5%;
    top: 78%;
    width: 59%;
}
._text_161 h3{
    display: inline-block;
    color: #da2128;
}

._text_1611{position: absolute;top: 6%;}

._text_1612{
    position: absolute;
    top: 40%;
}

._text_1613{
    position: absolute;
    top: 82%;
}

._text_1614{
    position: absolute;
    top: 104%;
}

._text_1615{
    position: absolute;
    top: 131%;
}


._more{position: absolute;top: 94.7%;height: 1.3%;width: 24%;right: 22%;}


._more a{
    display: block;
    width: 100%;
    height: 100%;
}

@media (max-width: 1024px ){





    .desktop_hide{

        display: block;

    }



    .mobile_hide{

        display: none;

    }



    .wrapper{

        background-image: url('../images/mobile.jpg');

        background-size: contain;

    }



    .wrapper::after {

        padding-bottom: 326.866%;

    }





    ._text_1 {

        top: 14vw;

        right: 0;

        left: 0;

        right: 0;

        text-align: center;

    }



    h1 {

        font-size: 9vw;

    }



    ._text_2 {

        width: 75vw;

        position: absolute;

        right: 0;

        left: 0;

        top: 26vw;

        text-align: center;

        margin: 0 auto;

    }



    h2 {

        color: #3f3c3e;

        font-size: 5vw;

    }


    ._text_4 {

        position: absolute;

        right: 24vw;

        top: 245vw;

        width: auto;

    }

    ._text_5 {

        right: 24vw;

        top: 260vw;

        width: auto;

    }



    ._text_6 {

        right: 24vw;

        top: 275vw;

        width: auto;

    }



    ._text_7 {

        right: 24vw;

        top: 289vw;

        width: 84vw;

    }



    ._text_8 {

        right: 24vw;

        top: 304vw;

        width: auto;

    }



    p {

        font-size: 4.5vw;

    }



    h3 {

        font-size: 6vw;

    }



    ._text_3 {

        right: 8vw;

        top: 231vw;

    }



    ._callnow{background-image: url('../images/callnow.jpg');width: 76vw;position: absolute;top: 105vw;right: 11.5vw;height: 18vw;background-repeat: no-repeat;background-size: contain;background-position: center top;text-align: center;z-index: 9;}





    ._form {

        position: absolute;

        width: 100%;

        top: 97vw;

        height: 124vw;

    }



    ._info {

        position: absolute;

        top: 29vw;

        right: 0;

        left: 0;

        width: 100vw;

        text-align: center;

        margin: 0 auto;

    }



    ._info p {

        font-size: 6vw;

    }





    ._fullname {

        right: 16vw;

        width: 71vw;

        top: 46vw;

        height: 10%;

        margin: 0 auto;

    }





    ._phone {

        right: 16vw;

        width: 71vw;

        top: 64vw;

        height: 10%;

        margin: 0 auto;

    }



    ._email {

        right: 16vw;

        width: 71vw;

        top: 82vw;

        height: 10%;

        margin: 0 auto;

    }



    ._send {

        right: 11.1vw;

        width: 75.5vw;

        top: 99vw;

        height: 10%;

        margin: 0 auto;

        background-size: cover;

    }

    

    input {

        font-size: 8vw;

        padding-right: 4vw;

    }



    h4.feedback {

        font-size: 8vw;

        margin-top: 50vw;

    }


    ._callnow a {
        opacity: 0;
    }

    ._goto {
        right: 7vw;
        top: 5vw;
    }

    ._goto a {
        font-size: 3.5vw;
    }


}



@media ( max-width: 960px ){


    
    .article .wrapper {
        background-image: url(../images/katava_960xh.jpg);
        background-size: cover;
    }

    .article .wrapper::after {
        padding-bottom: 700%;
    }

    ._text_11 {
        position: absolute;
        right: 13vw;
        top: 59.8vw;
    }

    ._text_11 h1 {
        font-size: 6vw;
    }

    ._text_12 {
        right: 5vw;
        top: 72vw;
        width: 88vw;
    }

    ._text_12 p, ._text_14 p, ._text_16 p, ._text_161 p, ._text_162 p {
        margin: 4vw auto;
        font-size: 4vw;
        line-height: 1.15;
    }

    ._text_13 {
        right: 7vw;
        top: 204vw;
    }

    ._text_13 h2 {
        font-size: 5.8vw;
    }

    ._text_14 {
        right: 5vw;
        width: 88vw;
        top: 216vw;
    }

    ._text_15 {
        right: 7vw;
        top: 338vw;
        width: 88vw;
    }

    ._text_15 h2 {
        font-size: 5.8vw;
    }

    ._text_16 {
        right: 5vw;
        top: 353vw;
        width: 88vw;
    }


    ._text_161 {
        right: 12vw;
        top: 368vw;
        height: 288vw;
        width: 86vw;
        line-height: 1;
    }

    ._text_1611 {
        top: 17vw;
    }


    ._text_1612 {
        top: 49.6vw;
    }

    ._text_1613 {
        top: 92.3vw;
    }

    ._text_1614 {
        top: 111vw;
    }

    ._text_1615 {
        top: 134.1vw;
    }

    ._text_161 h3 {
        display: inline-block;
        color: #da2128;
        font-size: 6vw;
    }

    ._text_162 {
        position: absolute;
        right: 5vw;
        top: 544vw;
        width: 88vw;
    }

    ._more {
        top: 666vw;
        height: 11.5vw;
        width: 72vw;
        right: 14vw;
    }

}