@font-face {
    font-family: 'JokerRegular';
    src: url('jokerregular_0.eot');
    src: url('jokerregular_0.eot') format('embedded-opentype'),
         url('jokerregular_0.woff2') format('woff2'),
         url('jokerregular_0.woff') format('woff'),
         url('jokerregular_0.ttf') format('truetype'),
         url('jokerregular_0.svg#JokerRegular') format('svg');
}
@font-face {
    font-family: 'JokerBlackRegular';
    src: url('jokerblack.eot');
    src: url('jokerblack.eot') format('embedded-opentype'),
         url('jokerblack.woff2') format('woff2'),
         url('jokerblack.woff') format('woff'),
         url('jokerblack.ttf') format('truetype'),
         url('jokerblack.svg#JokerBlackRegular') format('svg');
}
@font-face {
    font-family: 'JokerBold';
    src: url('jokerbold_0.eot');
    src: url('jokerbold_0.eot') format('embedded-opentype'),
         url('jokerbold_0.woff2') format('woff2'),
         url('jokerbold_0.woff') format('woff'),
         url('jokerbold_0.ttf') format('truetype'),
         url('jokerbold_0.svg#JokerBold') format('svg');
}
@font-face {
    font-family: 'JokerLightRegular';
    src: url('jokerlight_0.eot');
    src: url('jokerlight_0.eot') format('embedded-opentype'),
         url('jokerlight_0.woff2') format('woff2'),
         url('jokerlight_0.woff') format('woff'),
         url('jokerlight_0.ttf') format('truetype'),
         url('jokerlight_0.svg#JokerLightRegular') format('svg');
}
